@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("img/newbg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.box-submit {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper {
  width: 430px;
  padding: 30px;
  background: whitesmoke;
  border-radius: 5px;
}
.wrapper header {
  color: #6990f2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper form {
  height: 167px;
  border-radius: 6px;
  border: 2px dashed #6990f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  cursor: pointer;
}
form :where(i, p) {
  color: #6990f2;
}
form i {
  font-size: 50px;
}
form p {
  font-size: 16px;
  margin-top: 15px;
}

section .row {
  background: #e9f0ff;
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
section .row i {
  color: #6990f2;
}

section .details span {
  font-size: 14px;
}
.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}
.progress-area .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}
.progress-area .progress-bar {
  height: 6px;
  width: 100%;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 30px;
}
.progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990f2;
  border-radius: inherit;
}
.uploaded-area {
  max-height: 230px;
  overflow-y: scroll;
}
.uploaded-area::-webkit-scrollbar {
  width: 0px;
}
.uploaded-area .row .content {
  display: flex;
  align-items: center;
}
.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .details .size {
  font-size: 11px;
  color: #404040;
}
.uploaded-area .fa-check {
  color: #6990f2;
  font-size: 16px;
}
footer {
  width: 77%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 25px;
  border-top-right-radius: 55% 165px;
  border-style: solid;
  background-color: #dae7f9;
}

footer a {
  display: inline-block;
  padding: 10px 15px 0;
  text-decoration: none;
  color: #000;
}

footer a:hover{
  color: #000dffec;
}

footer .icon {
  text-align: center;
  line-height: 0;
  font-size: 25px;
}

footer .icon p{
  margin-top: 23px;
}

footer .icon i {
  font-size: 45px;
}

footer .container .col-6 {
  float: left;
  padding-left: 75px;
}

.logo {
  position: absolute;
  bottom: 0;
  margin: -30px 1200px;
  width: 200px;
  height:200px;
}
